.App {
  width: 40%;
  margin: 2em auto;
  color: white;
}

.logo {
  width: 120px;
}
.todo-header {
  padding: 0.5em;
  border-bottom: 1px solid #161616;
  text-align: center;
}

.todo-header h1 {
  margin: 0;
}

.form-control {
  height: 50px;
  background-color: #1d1d1d !important;
  color: white !important;
  border-radius: 0% !important;
  border: none !important;
}

input[type="submit"] {
  background-color: #269de2 !important;
  color: white;
  display: block;
  width: 100%;
  border: 1px solid #222;
  padding: 1em;
  
}

input[type="submit"]:hover {
  background-color: #2084be !important;

  
}

.todo {
  border-bottom: 1px solid #161616;
  padding: 1em 0;
}

.todo-done {
  text-decoration: line-through !important;
  color: rgb(240, 98, 146);
}

.todo p {
  font-style: italic;
}

.todo svg {
  font-size: 1.4em;
  cursor: pointer;
  margin-right: 1em;
  transition: .3s;
}

.todo svg:hover {
  color: #269de2;
}
